<h2>Flatiron Cohorts</h2>

<table class="table table-striped table-hover">
  <thead>
    <th>Cohort</th>
    <th>Manage Cohort</th>
    <th>Student Site</th>
  </thead>
  <tbody>
  <% @cohorts.each do |cohort| %>
    <tr>
      <td><%= link_to cohort.name, cohort_path(cohort) %></td>
      <td><%= link_to "Edit", edit_cohort_path(cohort) %> </td>
      <td><a href="<%= cohort.url %>" target="_blank">View on Web</a></td>
    </tr>
    <% end %>
  </tbody>
</table>