<h2>Flatiron Cohorts</h2>

<ul>
<% @cohorts.each do |cohort| %>
  <li><%= link_to cohort.name, cohort_path(cohort) %> | <%= link_to "Edit", edit_cohort_path(cohort) %> | <a href="<%= cohort.url %>" target="_blank">View on Web</a></li> 
<% end %>
</ul>