<h2>Welcome to <%= @cohort.name %></h2>

<%= button_to "Scrape", scrape_cohort_path, :class => "btn btn-default"%>
<br>

<ul>
  <% @cohort.students.each do |student| %>
    <li><%= student.name %></li>
  <% end %>
</ul>