<%= link_to follow_cohort_path(cohort, provider), method: :put, remote: true, class: "follow-all btn btn-block btn-social btn-twitter" do %>
  <span class="fa fa-twitter"></span> Follow all on Twitter
<% end %>
  
<%= link_to unfollow_cohort_path(cohort, provider), method: :delete, remote: true, class: "unfollow-all btn btn-block btn-social btn-twitter" do %>
  <span class="fa fa-twitter"></span> Unfollow all on Twitter
<% end %>
  
<span class="follow-success-<%=provider%>-<%= cohort.id %>"></span>