<div class='col-xs-4'>
  <h4><%= student.name %></h4>
  <table class='table table-condensed'>
    <tr>
      <td class='col-md-2'><i class='fa fa-envelope-o'></i></td>
      <td><a href='mailto:<% student.email %>'><%= student.email %></a></td>
    </tr>
    <tr>
      <td class='col-md-2'><i class='fa fa-github'></i></td>
      <td><%= student.github_handle %></td></tr>
      <tr><td class='col-md-2'><i class='fa fa-twitter'></i></td>
        <td><%= student.twitter_handle %></td>
    </tr>
  </table>
</div>