<h1>Goddammit Jeffrey!</h1>

<p><i>“This place has turned into pure chaos.”</i></p>

<p><i>"You want to be able to upload this into your brain as fast as possible.”</i></p>

<p><i>“I was going to say something was ‘aw-ry’”</i></p>

<p><i>“Who knows what you’ll see when you go out there?”</i> - on javascript and the codebase in the real world</p>

<p><i>“At that point, it zips through the wires.”</i></p>

<p><i>"I’m pretty confident it will work."</i> mutters to self <i>"Pride comes before the fall."</i></p>

<p><i>“I will be envious of homeless people”</i> - because they would have negative money and he would have zero.</p>

<p><i>“Oopsies”</i></p>

<p><i>“I’ve always wanted to live in the wild.”</i></p>

<p><i>“Summon a new list...we don’t have a new list yet. We have to go summon a new one.”</i></p>

<p><i>“A man is more than his clothes”</i></p>

<p><i>“Jeffers”</i></p>

<p><i>“I know each of us has desires about people.”</i></p>

<p><i>“What the what?"</i></p>

<p>As soon as something breaks: <i>“Ughhh…I hate you."</i></p>

<p><i></i></p>

<p>On handlebars: <i>“Wow, what a piece of metal”</i></p>

<p><i>“True that.”</i></p>

<p><i>“If you save the parent, you save the children.</i></p>

<p><i>"She wasn’t born this way. She must have gone dark."</i></p>

<p><i>“Isn’t that nice?"</i></p>

<p><i>“OH, one more thing”</i>, mustters to self, <i>“famous last words.”</i></p>