<div class="row">
    <div class="col-md-5">
      <%= image_tag("hastronauts.jpg", class: "img-responsive center-block") %>
      <h2>Follow your friends, fast.</h2>
      <p>Follow all your friends at the Flatiron School in one place.</p>
    </div>
   <div class="col-md-5 col-md-offset-2">
      <% if current_student %>
        <p>Welcome!</p>
      <% else %>
        <h3>Sign Up</h3>
        <%= render 'form' %>
        <br>
        <p>Already have an account? <%= link_to "Log in", login_path%></p>
      <% end %>
   </div>
</div>

