.footer{
  width:100%;
  height:2.5em;
  position: fixed;
  margin-top:50px;
  bottom:0;
  background-color: #2C3E50;
}

.footer-text{
  padding-top:0.5em;
  color:#fff;
}

.footer-text a{
  color:#18BC9C;
}

.red{
  color:#E74C3C;
}
