<div class="container-fluid footer">
  <p class="footer-text text-center">// Made with <i class="glyphicon glyphicon-heart red"></i> by <a href="https://github.com/ncoley" target="_blank"> Natalie Coley</a> and <a href="https://github.com/talum/" target="_blank">Tracy Lum</a> //Flatiron School Web-0915</p>  
</div>