<% content_for :cohorts do %>
  <% if current_student.try(:admin?) %>
    <%= yield %>
  <% else %>
    <p>Sorry, you don't have access to this page.</p>
  <% end %>

<% end %>
<%= render template: "layouts/application" %>